### Pseudocode

Find Minedex minesites that are VHMS deposits, use there measured minerals tonnages as inputs for a model to predict the unknown quantity of Germanium (Ge).

Q. Individual Model for each group of Measured commodities?

In [1]:
import pandas as pd

In [2]:
!ls ../data/minedex/

InformationSources.csv	SiteLithology.csv	Sites.csv
Projects.csv		SiteMineralization.csv	SiteTenements.csv
ProjectsOwners.csv	SiteNotes.csv
ResourceEstimates.csv	SiteProduction.csv

In [135]:
df_re = pd.read_csv('../data/minedex/ResourceEstimates.csv')
df_re.head()

,SiteCode,ShortTitle,ResourceCode,StartDate,EndDate,ReportingStandard,JORCCategory,JORCStatus,IN_TOTAL_FLAG,In Total Type,...,ContainedMetal,ContainedMetalUnit,CutOffGrade,CutOffGradeUnit,HeavyMineralPct,TargetCommodityGroup,Site_MineralizationStyle,Site_SecondaryMineralizationStyle,Resource_MineralizationStyle,Resource_SecondaryMineralizationStyle
0,S0000001,Pieces of Eight,1,13/07/2005,14/09/2006,Unknown,Resource,Inferred,No,Not in Total,...,903.50,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Unknown/Unassigned,Unknown/Unassigned,Unknown/Unassigned
1,S0000002,Albury Heath,2,30/06/1999,01/10/2003,Unknown,Resource,Indicated,No,Not in Total,...,379.48,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Au in shears or faults
2,S0000002,Albury Heath,3,04/06/2003,06/02/2017,Unknown,Resource,Measured,Yes,Resources,...,108.16,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Unknown/Unassigned
3,S0000002,Albury Heath,4,04/06/2003,06/02/2017,Unknown,Resource,Indicated,Yes,Resources,...,361.68,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Unknown/Unassigned
4,S0000002,Albury Heath,28452,07/02/2017,11/03/2019,"JORC (Australia, version unknown)",Resource,Indicated,Yes,Resources,...,675.00,kilogram,0.5,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Unknown/Unassigned

In [136]:
df_re.columns

Index(['SiteCode', 'ShortTitle', 'ResourceCode', 'StartDate', 'EndDate',
       'ReportingStandard', 'JORCCategory', 'JORCStatus', 'IN_TOTAL_FLAG',
       'In Total Type', 'Tonnage (Mt)', 'Grade', 'GradeUnit', 'CommodityName',
       'ContainedMetal', 'ContainedMetalUnit', 'CutOffGrade',
       'CutOffGradeUnit', 'HeavyMineralPct', 'TargetCommodityGroup',
       'Site_MineralizationStyle', 'Site_SecondaryMineralizationStyle',
       'Resource_MineralizationStyle',
       'Resource_SecondaryMineralizationStyle'],
      dtype='object')

### SiteMineralization

In [4]:
df_mi = pd.read_csv('../data/minedex/SiteMineralization.csv')
# df_mi['MineralizationStyle'].unique()

In [5]:
VHMS = 'Stratabound volcanic and sedimentary - volcanic-hosted sulfide'

df_re = df_re.merge(df_mi[['SiteCode', 'MineralizationStyle']])
# df_re.head()

In [6]:
df_re = df_re[['SiteCode', 'StartDate', 'EndDate', 'ResourceCode', 'ShortTitle',
               'JORCCategory', 'Tonnage (Mt)', 'CommodityName', 'ContainedMetal',
               'TargetCommodityGroup', 'MineralizationStyle']]

df_re.head()

,SiteCode,StartDate,EndDate,ResourceCode,ShortTitle,JORCCategory,Tonnage (Mt),CommodityName,ContainedMetal,TargetCommodityGroup,MineralizationStyle
0,S0000002,30/06/1999,01/10/2003,2,Albury Heath,Resource,0.179,Gold,379.48,GOLD,Vein and hydrothermal - undivided
1,S0000002,04/06/2003,06/02/2017,3,Albury Heath,Resource,0.026,Gold,108.16,GOLD,Vein and hydrothermal - undivided
2,S0000002,04/06/2003,06/02/2017,4,Albury Heath,Resource,0.137,Gold,361.68,GOLD,Vein and hydrothermal - undivided
3,S0000002,07/02/2017,11/03/2019,28452,Albury Heath,Resource,0.300,Gold,675.00,GOLD,Vein and hydrothermal - undivided
4,S0000002,07/02/2017,11/03/2019,28453,Albury Heath,Resource,0.090,Gold,171.00,GOLD,Vein and hydrothermal - undivided

In [7]:
df_re.ShortTitle.value_counts()

Resources Group     585
Jack Hills Group    239
Panton              225
Scuddles U/G        222
Firetail North      220
                   ...
Highway Channel       1
Mt Palmer             1
McAllister 1          1
Trenton               1
Golden Chief UG       1
Name: ShortTitle, Length: 1237, dtype: int64

In [8]:
df_re_just_zinc = df_re[df_re['CommodityName'] == 'Zinc']
df_re_just_zinc.head(2)

,SiteCode,StartDate,EndDate,ResourceCode,ShortTitle,JORCCategory,Tonnage (Mt),CommodityName,ContainedMetal,TargetCommodityGroup,MineralizationStyle
1398,S0001179,01/01/1978,NaN,1765,Bonnie Rock BM,Resource,0.450,Zinc,5.6250,COPPER - LEAD - ZINC,Vein and hydrothermal - undivided
1733,S0001250,30/06/2000,31/05/2002,1985,Manindi Res Gp,Resource,0.323,Zinc,24.1927,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...

In [9]:
sites_with_zinc = df_re_just_zinc.SiteCode.unique()

In [10]:
df_re_with_zinc = df_re[df_re['SiteCode'].isin(sites_with_zinc)]

In [11]:
df_re_with_zinc

,SiteCode,StartDate,EndDate,ResourceCode,ShortTitle,JORCCategory,Tonnage (Mt),CommodityName,ContainedMetal,TargetCommodityGroup,MineralizationStyle
1397,S0001179,01/01/1978,NaN,1765,Bonnie Rock BM,Resource,0.450,Silver,45000.0000,COPPER - LEAD - ZINC,Vein and hydrothermal - undivided
1398,S0001179,01/01/1978,NaN,1765,Bonnie Rock BM,Resource,0.450,Zinc,5.6250,COPPER - LEAD - ZINC,Vein and hydrothermal - undivided
1399,S0001179,01/01/1978,NaN,1765,Bonnie Rock BM,Resource,0.450,Lead,6.7500,COPPER - LEAD - ZINC,Vein and hydrothermal - undivided
1733,S0001250,30/06/2000,31/05/2002,1985,Manindi Res Gp,Resource,0.323,Zinc,24.1927,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
1734,S0001250,30/06/2000,31/05/2002,1986,Manindi Res Gp,Resource,0.730,Zinc,56.2830,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
...,...,...,...,...,...,...,...,...,...,...,...
16782,S0232508,12/07/2017,NaN,28966,Resources Group,Resource,5.200,Uranium oxide,5.7200,URANIUM,Stratabound sedimentary - clastic-hosted
16783,S0232508,12/07/2017,NaN,28967,Resources Group,Resource,14.800,Uranium oxide,11.8400,URANIUM,Stratabound sedimentary - clastic-hosted
16784,S0232508,12/07/2017,NaN,28968,Resources Group,Resource,14.200,Uranium oxide,5.9640,URANIUM,Stratabound sedimentary - clastic-hosted
16785,S0232508,31/08/2017,NaN,29190,Resources Group,Reserve,14.100,Uranium oxide,10.9275,URANIUM,Stratabound sedimentary - clastic-hosted
16786,S0232508,31/08/2017,NaN,29191,Resources Group,Reserve,5.300,Uranium oxide,5.5915,URANIUM,Stratabound sedimentary - clastic-hosted

In [12]:
# for each site

In [13]:
df_re_with_zinc['CommodityName'].unique()

array(['Silver', 'Zinc', 'Lead', 'Copper', 'Gold', 'Cobalt', 'Barium',
       'Tungsten trioxide', 'Nickel', 'Scandium', 'Uranium oxide'],
      dtype=object)

In [14]:
df_re_with_zinc[df_re_with_zinc['CommodityName'] == 'Germanium']

Empty DataFrame
Columns: [SiteCode, StartDate, EndDate, ResourceCode, ShortTitle, JORCCategory, Tonnage (Mt), CommodityName, ContainedMetal, TargetCommodityGroup, MineralizationStyle]
Index: []

In [15]:
df_re_with_zinc_vhms = df_re_with_zinc[df_re_with_zinc['MineralizationStyle'] == VHMS]
df_re_with_zinc_vhms.shape

(960, 11)

In [16]:
df_re_with_zinc_vhms.sample(5)

,SiteCode,StartDate,EndDate,ResourceCode,ShortTitle,JORCCategory,Tonnage (Mt),CommodityName,ContainedMetal,TargetCommodityGroup,MineralizationStyle
5645,S0002287,09/01/2007,29/10/2008,4615,Sandiego,Resource,0.250,Silver,11250.0000,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
11368,S0019518,30/06/2009,29/06/2010,16150,Whundo West,Resource,0.057,Copper,0.2793,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
8898,S0005102,31/12/1998,22/02/2007,8367,Onedin,Resource,1.140,Copper,7.9800,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
1854,S0001257,30/06/1997,30/06/1998,2040,Scuddles U/G,Reserve,0.740,Silver,66600.0000,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
15300,S0033011,21/05/2020,29/06/2020,42163,Grassi,Resource,0.400,Gold,200.0000,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...

In [17]:
df_scuddles_2020 = df_re_with_zinc[(df_re_with_zinc['ShortTitle'] == 'Scuddles U/G') & (df_re_with_zinc['StartDate'] == '21/05/2020')]
df_scuddles_2020

,SiteCode,StartDate,EndDate,ResourceCode,ShortTitle,JORCCategory,Tonnage (Mt),CommodityName,ContainedMetal,TargetCommodityGroup,MineralizationStyle
2018,S0001257,21/05/2020,29/06/2020,42155,Scuddles U/G,Resource,3.9,Gold,3120.0,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2019,S0001257,21/05/2020,29/06/2020,42155,Scuddles U/G,Resource,3.9,Copper,23.4,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2020,S0001257,21/05/2020,29/06/2020,42155,Scuddles U/G,Resource,3.9,Lead,27.3,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2021,S0001257,21/05/2020,29/06/2020,42155,Scuddles U/G,Resource,3.9,Zinc,382.2,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2022,S0001257,21/05/2020,29/06/2020,42155,Scuddles U/G,Resource,3.9,Silver,241800.0,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2023,S0001257,21/05/2020,29/06/2020,42156,Scuddles U/G,Resource,6.4,Silver,89600.0,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2024,S0001257,21/05/2020,29/06/2020,42156,Scuddles U/G,Resource,6.4,Zinc,19.2,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2025,S0001257,21/05/2020,29/06/2020,42156,Scuddles U/G,Resource,6.4,Copper,160.0,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...
2026,S0001257,21/05/2020,29/06/2020,42156,Scuddles U/G,Resource,6.4,Gold,2560.0,COPPER - LEAD - ZINC,Stratabound volcanic and sedimentary - volcani...

In [126]:
site_and_commodities = df_re_with_zinc.groupby('SiteCode')['CommodityName'].unique()

In [149]:
# convert series to tuple for easy indexing
sites, commodities = tuple([site_and_commodities.index, site_and_commodities.values])

sites[:5], commodities[:5]

(Index(['S0001179', 'S0001250', 'S0001257', 'S0001335', 'S0001357'], dtype='object', name='SiteCode'),
 array([array(['Silver', 'Zinc', 'Lead'], dtype=object),
        array(['Zinc', 'Copper', 'Silver'], dtype=object),
        array(['Gold', 'Zinc', 'Copper', 'Lead', 'Silver'], dtype=object),
        array(['Gold', 'Silver', 'Zinc', 'Copper', 'Lead'], dtype=object),
        array(['Copper', 'Zinc', 'Lead', 'Silver', 'Gold'], dtype=object)],
       dtype=object))

### Site 0

In [143]:
site_code = sites[0]
site_commodities = commodities[0]

### # GROUPBY ResourceCode
df_site = df_re_with_zinc[df_re_with_zinc['SiteCode'] == site_code]

In [146]:
df_site_inputs = dict(zip(df_site['CommodityName'].values, df_site['ContainedMetal'].values))

In [147]:
df_site_inputs

{'Silver': 45000.0, 'Zinc': 5.625, 'Lead': 6.75}

# Modelling

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [39]:
df_osnaca_vhms = pd.read_csv('../data/osnaca_vhms.csv')
df_osnaca_vhms.head(2)

,Unnamed: 0,Sample,Code,Au (FA),Pt,Pd,Au (AR),Bi,Te,Hg,...,Si,Zr,Be,Ga,Ge,Wt Tot,Class,LAT,LONG,State
0,0,700001,NaN,0.438,0.002,0.002,0.362,10.6,0.02,0.39,...,34200,60,-1.0,11.0,1,159.0,VHMS,-35.062625,149.569996,New South Wales
1,1,700002,NaN,0.093,0.001,0.002,0.095,125.0,0.22,0.12,...,114000,20,-1.0,2.0,-1,143.0,VHMS,-35.062625,149.569996,New South Wales

In [40]:
df_osnaca_vhms = df_osnaca_vhms.drop(columns=['Class', 'State', 'Unnamed: 0'])

In [41]:
RESPONSE_VAR = 'Ge'

full_name_to_atomic = {
    "Copper": 'Cu',
    "Zinc": 'Zn',
    "Germanium": 'Ge'
}


def filter_assay_df(df, list_of_inputs, critical_mineral):
    # convert full commodity name to atomic format
    list_of_inputs_atomic = [full_name_to_atomic[name] for name in list_of_inputs]
    # index df with inputs in atomic format
    X = df[list_of_inputs_atomic]
    y = df[critical_mineral]

    return X, y  

X, y  = filter_assay_df(df_osnaca_vhms, list_of_inputs, critical_mineral=RESPONSE_VAR)
X

         Cu      Zn
0      5300  153000
1    119000    3780
2      4630  219000
3       275     755
4      2440  173000
..      ...     ...
129    2810  340000
130  165000     795
131   87600    6160
132     860  315000
133   40700    7530

[134 rows x 2 columns]

In [42]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

## Training on VHMS Assays

### Linear Regression

In [44]:
lr = LinearRegression()

lr.fit(X_train, y_train)
train_preds = lr.predict(X_train)
test_preds = lr.predict(X_test)

In [57]:
from sklearn.metrics import mean_squared_error

print(f"Train MSE: {mean_squared_error(train_preds, y_train)}")
print(f"Test MSE: {mean_squared_error(test_preds, y_test)}")

Train MSE: 13.032167289719624
Test MSE: 2122.6798259259263

### Random Forrest

In [58]:
from sklearn.ensemble import RandomForestRegressor

In [59]:
rf = RandomForestRegressor()

rf.fit(X_train, y_train)
train_preds = rf.predict(X_train)
test_preds = rf.predict(X_test)

In [60]:
from sklearn.metrics import mean_squared_error

print(f"Train MSE: {mean_squared_error(train_preds, y_train)}")
print(f"Test MSE: {mean_squared_error(test_preds, y_test)}")

Train MSE: 13.889392523364485
Test MSE: 2118.8753814814813

### Predicting with MINEDEX inputs