In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Cleaning Convention

In [2]:
df = pd.read_csv('WAMEX_1_Rockchip_Original.csv')
df.head()

/Users/zhengyuchen/opt/anaconda3/envs/cits5508-fix/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229866,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229867,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,229868,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,229869,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,229870,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [3]:
df_minerals = df.loc[:,df.columns.str.contains('ppm|ppb|pct')]

In [4]:
df.isna().sum(axis=1)

0         12
1         12
2         12
3         12
4         12
          ..
402765    12
402766    12
402767    12
402768    12
402769    12
Length: 402770, dtype: int64

In [5]:
df_minerals.dtypes.unique()

array([dtype('float64'), dtype('int64')], dtype=object)

In [6]:
def geo_null_to_nan(val):
    if val == -9999 or val == -6666: 
        return np.nan
    else:
        return val
    
    
def abs_halve_neg_val(val):
#     print(val)
    if val < 0: 
        return abs(val) / 2
    else: 
        return val

df_minerals = df_minerals.applymap(geo_null_to_nan)
df_minerals = df_minerals.applymap(abs_halve_neg_val)

In [7]:
df_minerals

,Ag_ppm,Al_ppm,Al2O3_pct,As_ppm,Au_ppm,B_ppm,Ba_ppm,BaO_ppm,Be_ppm,Bi_ppm,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,NaN,NaN,NaN,0.0,0.0080,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,43.0,0.0120,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,21.0,0.0050,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,13.0,0.0050,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,0.0,0.0090,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402765,NaN,NaN,NaN,NaN,0.0005,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402766,NaN,NaN,NaN,NaN,0.0010,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402767,NaN,NaN,NaN,NaN,0.0005,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402768,NaN,NaN,NaN,NaN,0.0005,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402769,NaN,NaN,NaN,NaN,0.0005,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Unique Minerals from Sites with Zinc in Mindex

Reference for output from MINEDEX_EDA_COBALT.ipynb
```
zinc_minerals = ['Zinc', 'Silver', 'Copper', 'Lead', 'Gold', 'Cobalt']
```

In [8]:
zinc_minerals = ['Zinc', 'Silver', 'Copper', 'Lead', 'Gold', 'Cobalt']

In [9]:
full_to_atomic = {
    "Zinc": "Zn",
    "Silver": "Ag",
    "Copper": "Cu",
    "Lead": "Pb",
    "Gold": "Au",
    "Cobalt": "Co"
}

new_cols = []
for col in df_minerals.columns: 
    if "ppm" in col or "ppb" in col or "pct" in col:
        new_cols.append(col.split('_')[0])
    else:
        new_cols.append(col)
        
df_minerals.columns = new_cols

In [10]:
minerals_atomic = [full_to_atomic[mineral] for mineral in zinc_minerals]
minerals_atomic

['Zn', 'Ag', 'Cu', 'Pb', 'Au', 'Co']

#### Remove Empty Cobalt Assays

In [11]:
df_minerals = df_minerals[minerals_atomic]
df_minerals['lat'] = df['DLAT'] 
df_minerals['long'] = df['DLONG']

/Users/zhengyuchen/opt/anaconda3/envs/cits5508-fix/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/zhengyuchen/opt/anaconda3/envs/cits5508-fix/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
df_w_Cu = df_minerals[~df_minerals['Cu'].isna()]
df_w_Cu.shape

(281043, 8)

In [13]:
df_w_Cu_Pb = df_w_Cu[~df_w_Cu['Pb'].isna()]
df_w_Cu_Pb.shape

(238027, 8)

In [14]:
df_w_Cu_Pb.to_csv('WAMEX_with_Cu_Pb_MINDEX_available_minerals.csv')