# Wamex EDA

In [2]:
import pandas as pd

## Reallc Data

### Load Data

In [5]:
reallc = pd.read_excel('Data/WAMEX/WACHEM_0_recalc_data.xlsx')

In [7]:
reallc.head()

,OBJECTID_1 *,Shape *,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,...,TiO2_pct,Tl_ppm,Tm_ppm,U_ppm,V_ppm,W_ppm,Y_ppm,Yb_ppm,Zn_ppm,Zr_ppm
0,1,Point,WACHEM,230272_CWMWS0,230272,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.83,0.8,0.35,0.50,140.0,1.0,21.299999,2.32,75.0,131.0
1,2,Point,WACHEM,230273_CWMWS0,230273,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.83,-0.2,0.32,0.51,141.0,-0.5,20.700001,2.28,75.0,132.0
2,3,Point,WACHEM,230274_CWMWS0,230274,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.88,0.4,0.34,0.52,146.0,0.5,20.500000,2.22,70.0,135.0
3,4,Point,WACHEM,230275_CWMWS0,230275,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.74,-0.2,0.26,0.46,128.0,-0.5,17.500000,1.79,50.0,116.0
4,5,Point,WACHEM,230276_CWMWS0,230276,2018-09-18,gs31052018,SH51-01,-28.36762,121.1129,...,0.73,-0.2,0.30,0.46,131.0,1.5,19.000000,1.95,65.0,115.0

In [14]:
print(reallc.columns.tolist())

['OBJECTID_1 *', 'Shape *', 'DATASET', 'SAMPLEID', 'GSWANO', 'EXTRACT_DA', 'BATCH_NO', 'QMAPID', 'DLAT', 'DLONG', 'EASTING', 'NORTHING', 'RELIABILIT', 'SAMPLETYPE', 'LITHNAME', 'SITENO', 'SITEID', 'ORIGNAME', 'Ag_ppm', 'Al_ppm', 'Al2O3_pct', 'Ars_ppm', 'Au_ppm', 'B_ppm', 'Ba_ppm', 'Be_ppm', 'Bi_ppm', 'C_ppm', 'Ca_ppm', 'CaO_pct', 'Cd_ppm', 'Ce_ppm', 'Cl_ppm', 'Co_ppm', 'CO2_pct', 'Cr_ppm', 'Cs_ppm', 'Cu_ppm', 'Dy_ppm', 'Er_ppm', 'Eu_ppm', 'F_ppm', 'Fe_ppm', 'Fe2O3_pct', 'Fe2O3T_pct', 'FeO_pct', 'Ga_ppm', 'Gd_ppm', 'Ge_ppm', 'H2Oneg_pct', 'H2Opos_pct', 'Hf_ppm', 'Hg_ppm', 'Ho_ppm', 'Ind_ppm', 'K_ppm', 'K2O_pct', 'La_ppm', 'LABnegNR_N', 'Li_ppm', 'LOI_pct', 'Lu_ppm', 'Mg_ppm', 'MgO_pct', 'Mn_ppm', 'MnO_pct', 'Mo_ppm', 'Na2O_pct', 'Nb_ppm', 'Nd_ppm', 'Ni_ppm', 'P_ppm', 'P2O5_pct', 'Pb_ppm', 'Pd_ppb', 'Pr_ppm', 'Pt_ppb', 'Rb_ppm', 'S_pct', 'Sb_ppm', 'Sc_ppm', 'Se_ppm', 'Si_ppm', 'SiO2_pct', 'Sm_ppm', 'Sn_ppm', 'SO3_pct', 'Sr_ppm', 'Ta_ppm', 'Tb_ppm', 'Te_ppm', 'Th_ppm', 'Ti_ppm', 'TiO2_pct', 'Tl_ppm', 'Tm_ppm', 'U_ppm', 'V_ppm', 'W_ppm', 'Y_ppm', 'Yb_ppm', 'Zn_ppm', 'Zr_ppm']

In [27]:
reallc.shape

(4339, 103)

### Data Cleaning

In [ ]:
#### Set -9999 to null

In [38]:
reallc.fillna(value = -9999, inplace = True)
#reallc.fillna(value = -6666, inplace = True)

In [ ]:
#### Set -6666 to null

In [40]:
reallc.isnull().sum().sum()

0

## Rockchip Data

In [13]:
rockchip = pd.read_csv('~/Documents/CMProject/Data/WAMEX/WAMEX_1_Rockchip_Original.csv')

/Users/xiaohan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
rockchip.head()

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229866,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229867,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,229868,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,229869,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,229870,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [7]:
print(rockchip.columns.tolist())

['OBJECTID', 'DATASET', 'SAMPLEID', 'GSWANO', 'EXTRACT_DA', 'BATCH_NO', 'QMAPID', 'DLAT', 'DLONG', 'EASTING', 'NORTHING', 'RELIABILIT', 'SAMPLETYPE', 'LITHNAME', 'SITENO', 'SITEID', 'ORIGNAME', 'WAMEX_A_NO', 'COMPSAMPID', 'Ag_ppm', 'Al_ppm', 'Al2O3_pct', 'As_ppm', 'Au_ppm', 'B_ppm', 'Ba_ppm', 'BaO_ppm', 'Be_ppm', 'Bi_ppm', 'Br_ppm', 'C_ppm', 'Ca_ppm', 'CaO_pct', 'Cd_ppm', 'Ce_ppm', 'CeO2_ppm', 'Cl_ppm', 'Co_ppm', 'CO2_pct', 'Cr_ppm', 'Cr2O3_ppm', 'Cs_ppm', 'Cs2O_ppm', 'Cu_ppm', 'Dy_ppm', 'Dy2O3_ppm', 'Er_ppm', 'Er2O3_ppm', 'Eu_ppm', 'Eu2O3_ppm', 'F_ppm', 'Fe_ppm', 'Fe2O3_pct', 'Fe2O3T_pct', 'FeO_pct', 'Ga_ppm', 'Ga2O3_ppm', 'Gd_ppm', 'Gd2O3_ppm', 'Ge_ppm', 'H2Oneg_pct', 'H2Opos_pct', 'Hf_ppm', 'Hg_ppm', 'Ho_ppm', 'Ho2O3_ppm', 'I_ppm', 'In_ppm', 'Ir_ppb', 'K_ppm', 'K2O_pct', 'La_ppm', 'La2O3_ppm', 'LABnegNR_N', 'Li_ppm', 'Li2O_ppm', 'LOI_pct', 'Lu_ppm', 'Lu2O3_ppm', 'Mg_ppm', 'MgO_pct', 'Mn_ppm', 'MnO_pct', 'Mo_ppm', 'Na_ppm', 'Na2O_pct', 'Nb_ppm', 'Nb2O5_ppm', 'Nd_ppm', 'Nd2O3_ppm', 'Ni_ppm', 'Os_ppb', 'P_ppm', 'P2O5_pct', 'Pb_ppm', 'Pd_ppb', 'Pr_ppm', 'Pr2O3_ppm', 'Pt_ppb', 'Rb_ppm', 'Rb2O_ppm', 'Re_ppm', 'Rh_ppb', 'Ru_ppb', 'S_pct', 'Sb_ppm', 'Sb2O5_ppm', 'Sc_ppm', 'Se_ppm', 'Si_ppm', 'SiO2_pct', 'Sm_ppm', 'Sm2O3_ppm', 'Sn_ppm', 'SO3_pct', 'Sr_ppm', 'SrO_ppm', 'Ta_ppm', 'Ta2O5_ppm', 'Tb_ppm', 'Tb2O3_ppm', 'Te_ppm', 'Th_ppm', 'ThO2_ppm', 'Ti_ppm', 'TiO2_pct', 'Tl_ppm', 'Tm_ppm', 'Tm2O3_ppm', 'U_ppm', 'U3O8_ppm', 'V_ppm', 'V2O5_ppm', 'W_ppm', 'WO3_ppm', 'Y_ppm', 'Y2O3_ppm', 'Yb_ppm', 'Yb2O3_ppm', 'Zn_ppm', 'ZnO_ppm', 'Zr_ppm', 'ZrO2_ppm']

In [8]:
rockchip.shape

(402770, 143)

#### Weird Numbers on Rockchips

In [14]:
import numpy as np

In [22]:
# Replace -6666 and  -9999 with NA
rockchip.replace('-6666.0', np.NaN)
rockchip.replace('-9999.0', np.NaN)

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229866,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229867,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,229868,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,229869,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,229870,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402765,402766,NaN,13930026,NaN,NaN,NaN,NaN,-33.719031,115.787362,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
402766,402767,NaN,13930027,NaN,NaN,NaN,NaN,-33.719031,115.787362,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
402767,402768,NaN,13930028,NaN,NaN,NaN,NaN,-33.719031,115.787362,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
402768,402769,NaN,13930029,NaN,NaN,NaN,NaN,-33.719031,115.787362,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
402769,402770,NaN,13930030,NaN,NaN,NaN,NaN,-33.719031,115.787362,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [23]:
rockchip.sample(5)

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
233627,233628,NaN,8053372,NaN,NaN,NaN,NaN,-22.502227,115.235503,NaN,...,5.0,6.305,-9999.00,-9999.000000,-9999.0,-9999.00000,179.0,222.8192,204.0,275.560611
101170,101171,NaN,3588823,NaN,NaN,NaN,NaN,-25.881599,127.748152,NaN,...,-9999.0,-9999.000,-9999.00,-9999.000000,-9999.0,-9999.00000,-9999.0,-9999.0000,-9999.0,-9999.000000
365475,365476,NaN,11578821,NaN,NaN,NaN,NaN,-22.961310,120.894247,NaN,...,-9999.0,-9999.000,-9999.00,-9999.000000,-9999.0,-9999.00000,-99.0,-9999.0000,-99.0,-9999.000000
176114,176115,NaN,5909585,NaN,NaN,NaN,NaN,-19.076365,128.542312,NaN,...,-9999.0,-9999.000,2.33,2.958867,0.3,0.34161,9.0,11.2032,-9999.0,-9999.000000
310418,310419,NaN,10116180,NaN,NaN,NaN,NaN,-24.289988,117.471894,NaN,...,-9999.0,-9999.000,-9999.00,-9999.000000,-9999.0,-9999.00000,-9999.0,-9999.0000,-9999.0,-9999.000000

OBJECTID        int64
DATASET       float64
SAMPLEID        int64
GSWANO        float64
EXTRACT_DA    float64
               ...
Yb2O3_ppm     float64
Zn_ppm        float64
ZnO_ppm       float64
Zr_ppm        float64
ZrO2_ppm      float64
Length: 143, dtype: object

## Stream Sed Data

In [15]:
stream_sed = pd.read_csv('Data/WAMEX/WAMEX_2_StreamSed_Original.csv')

In [16]:
stream_sed.head()

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229859,NaN,NaN,NaN,NaN,-34.072237,118.170528,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229860,NaN,NaN,NaN,NaN,-33.988987,118.138194,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,229861,NaN,NaN,NaN,NaN,-34.024541,118.167577,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,229862,NaN,NaN,NaN,NaN,-33.938144,118.215302,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,229863,NaN,NaN,NaN,NaN,-33.989931,118.218507,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [22]:
print(stream_sed.columns.tolist())

['OBJECTID', 'DATASET', 'SAMPLEID', 'GSWANO', 'EXTRACT_DA', 'BATCH_NO', 'QMAPID', 'DLAT', 'DLONG', 'EASTING', 'NORTHING', 'RELIABILIT', 'SAMPLETYPE', 'LITHNAME', 'SITENO', 'SITEID', 'ORIGNAME', 'WAMEX_A_NO', 'COMPSAMPID', 'Ag_ppm', 'Al_ppm', 'Al2O3_pct', 'As_ppm', 'Au_ppm', 'B_ppm', 'Ba_ppm', 'BaO_ppm', 'Be_ppm', 'Bi_ppm', 'Br_ppm', 'C_ppm', 'Ca_ppm', 'CaO_pct', 'Cd_ppm', 'Ce_ppm', 'CeO2_ppm', 'Cl_ppm', 'Co_ppm', 'CO2_pct', 'Cr_ppm', 'Cr2O3_ppm', 'Cs_ppm', 'Cs2O_ppm', 'Cu_ppm', 'Dy_ppm', 'Dy2O3_ppm', 'Er_ppm', 'Er2O3_ppm', 'Eu_ppm', 'Eu2O3_ppm', 'F_ppm', 'Fe_ppm', 'Fe2O3T_pct', 'Ga_ppm', 'Ga2O3_ppm', 'Gd_ppm', 'Gd2O3_ppm', 'Ge_ppm', 'Hf_ppm', 'Hg_ppm', 'Ho_ppm', 'Ho2O3_ppm', 'I_ppm', 'In_ppm', 'Ir_ppb', 'K_ppm', 'K2O_pct', 'La_ppm', 'La2O3_ppm', 'Li_ppm', 'Li2O_ppm', 'LOI_pct', 'Lu_ppm', 'Lu2O3_ppm', 'Mg_ppm', 'MgO_pct', 'Mn_ppm', 'MnO_pct', 'Mo_ppm', 'Na_ppm', 'Na2O_pct', 'Nb_ppm', 'Nb2O5_ppm', 'Nd_ppm', 'Nd2O3_ppm', 'Ni_ppm', 'Os_ppb', 'P_ppm', 'P2O5_pct', 'Pb_ppm', 'Pd_ppb', 'Pr_ppm', 'Pr2O3_ppm', 'Pt_ppb', 'Rb_ppm', 'Rb2O_ppm', 'Re_ppm', 'Rh_ppb', 'Ru_ppb', 'S_pct', 'Sb_ppm', 'Sb2O5_ppm', 'Sc_ppm', 'Se_ppm', 'Si_ppm', 'SiO2_pct', 'Sm_ppm', 'Sm2O3_ppm', 'Sn_ppm', 'SO3_pct', 'Sr_ppm', 'SrO_ppm', 'Ta_ppm', 'Ta2O5_ppm', 'Tb_ppm', 'Tb2O3_ppm', 'Te_ppm', 'Th_ppm', 'ThO2_ppm', 'Ti_ppm', 'TiO2_pct', 'Tl_ppm', 'Tm_ppm', 'Tm2O3_ppm', 'U_ppm', 'U3O8_ppm', 'V_ppm', 'V2O5_ppm', 'W_ppm', 'WO3_ppm', 'Y_ppm', 'Y2O3_ppm', 'Yb_ppm', 'Yb2O3_ppm', 'Zn_ppm', 'ZnO_ppm', 'Zr_ppm', 'ZrO2_ppm']

In [30]:
stream_sed.shape

(157267, 138)

## Shallow Drill Hole

In [32]:
shallow_dh = pd.read_csv('Data/WAMEX/WAMEX_3_ShallowDrillhole_Original.csv')

/Users/xiaohan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [34]:
shallow_dh.head()

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,232030,NaN,NaN,NaN,NaN,-33.775526,118.116766,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,232031,NaN,NaN,NaN,NaN,-33.775660,118.117859,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,232032,NaN,NaN,NaN,NaN,-33.775803,118.119005,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,232033,NaN,NaN,NaN,NaN,-33.775953,118.120325,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,232034,NaN,NaN,NaN,NaN,-33.776086,118.121579,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

## Soil Data

In [35]:
soil = pd.read_csv('Data/WAMEX/WAMEX_4_Soil_Original.csv')

In [36]:
soil.head()

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229825,NaN,NaN,NaN,NaN,-33.859960,118.120459,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229826,NaN,NaN,NaN,NaN,-33.865365,118.126119,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,3,NaN,229827,NaN,NaN,NaN,NaN,-33.863981,118.131452,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,4,NaN,229828,NaN,NaN,NaN,NaN,-33.863895,118.136888,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,5,NaN,229829,NaN,NaN,NaN,NaN,-33.864883,118.142210,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [37]:
soil.shape

(5407793, 143)